:root {
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    background-color: #C00;
    margin-top: -20px;    
    width: 100%; 
    height: 200px;   
}

h1, h2 {
    margin-left: 2%;
}
.container {
    max-width: 90%;
    margin: auto;   
}

nav {
    max-width: 100%;
    background-color: #F60;
    padding: 2%;
}

.btn {
    border: none;
    background-color: #3C3;    
    padding: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 4px;
    margin-right: 5px;
}
